<!DOCTYPE html>
<html>
  <head>
    <%- include ('../partials/head.ejs') %>
  </head>
  <body>
  <section class="section">
    <div class="container">
      <h1 class="title">topics index page</h1>
      Welcome, <%=user.username%>

      <ul>
        <%
        for(let i = 0; i < topics.length; i++){ %>

          <li>

            <a href="/topics/<%=topics[i].id%>">
              <%=topics[i].name;%>
            </a>

            <form action="/topics/<%=topics[i].id; %>?_method=DELETE" method="POST">
              <input type="submit" value="DELETE"/>


            </form>
            <a href="/topics/<%=topics[i].id%>/edit">Edit</a>
          </li>
          <%
        }
        %>
      </ul>
      <nav>
        <a href="/new">New topics</a>
        <a href="user/<%=user._id%>">profile page</a>
      </nav>
    </div>

  </section>
  </body>
</html>
