<!DOCTYPE html>
<html>
  <head>
    <%- include ('../partials/head.ejs') %>
  </head>
  <body>
  <section class="section">
    <div class="container">
      <h1 class="title">Hot Topics</h1>
<div class="tabs">
  <ul>
    <li class="momics"><a href="/new">New topics</a></li>
    <li class="momics"><a href="user/<%=user._id%>">profile page</a></li>
  </ul>
</div>

      <p class="subtitle is-3">Welcome, <%=user.username%></p>

  </ul>

  <div class="box">
  <article class="media">
    <div class="media-content has-text-centered">
      <div class="content">

          <ul>
              <%
              for(let i = 0; i < topics.length; i++){ %>
                <div>
                <li class="stuff">

                <p class="subtitle is-2 topics"><a href="/topics/<%=topics[i].id%>">
                    <%=topics[i].name;%>
                  </a></p>
                  <span>
                    <form class="one button is-danger is-light card-footer-item" action="/topics/<%=topics[i].id; %>?_method=DELETE" method="POST">
                      <input class="button is-danger is-light" type="submit" value="DELETE"/>
                    </form>
                  </span>


                  <span>
                    <a class="one button is-danger is-light card-footer-item" href="/topics/<%=topics[i].id%>/edit">Edit</a>
                  </li>
                  <%
                }
                %>
              </span>
        </div>
      </div>
    </div>
  </article>
</div>
</div>
  </section>

  </body>
</html>
